@{
    Layout = "~/Views/Shared/_PlanITLayout.cshtml";
}



    <div class="row" style="height:100vh; margin:0px;">

        <!-- Left Image Side -->
        <div class="col s6 m6 l6 hide-on-small-only"
             style="height:100%;
             background-image:url('https://images.unsplash.com/photo-1578385215219-086ac81983c2?q=80&w=2071');
             background-size:cover;
             background-position:center;">
        </div>

        <!-- Right Login Side -->
        <div class="col s12 m6 l6 white"
             style="height:100%; display:flex; flex-direction:column;">

            <!-- Center Form -->
            <div style="flex:1; display:flex; justify-content:center; align-items:center;">

                <form style="width:80%; max-width:350px;">

                    <h3><b>Login</b></h3>

                    <!-- Username -->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" type="text" maxlength="25" ng-model="LUserName">
                        <label for="username">Username</label>
                    </div>

                    <!-- Password -->
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" type="password" ng-model="Lpassword">
                        <label for="password">Password</label>
                    </div>

                    <!-- Login Button -->
                    <a class="waves-effect waves-light btn blue col s12"
                       ng-click="checkLogin()"
                       style="margin-top:15px;">
                        Login
                    </a>
                  
                    <p style="margin-top:50px;">
                        Don't have an account?
                        <a ng-click="RedirectingPage(202)" style="cursor:pointer;">
                            Sign Up
                        </a>
                    </p>

                </form>

            </div>

        
            <div class="center-align grey-text text-darken-1"
                 style="padding:15px;">
                © 2026 PlanIT. All rights reserved.
            </div>

        </div>

    </div>  

